{% extends 'main.html' %}{% load static %} {% block content %}

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="{% static 'images/image_03.jpg' %}"
        class="d-block mx-lg-auto img-fluid rounded-5"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">O nama</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, vitae?
        Est doloremque ad quidem et eveniet. Explicabo vero dicta officia?
        Nostrum velit provident officiis unde voluptatibus temporibus assumenda,
        ad commodi?.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
    </div>
  </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Mogućnosti</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4 text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
        assumenda sed distinctio saepe, porro omnis, ipsum eum ullam nemo enim,
        a fugit maiores dicta expedita modi corporis dolores necessitatibus
        quidem!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 p-1">
      <div class="card">
        <div class="mx-2 card-body">
          <h5 class="card-title my-2">Mogućnost 1</h5>
          <p class="text-muted mb-2">Ova mogućnost je to to i to</p>
        </div>
        <div class="card-footer">
          <p class="text-uppercase fw-bold" style="font-size: 12px">
            Što to znači
          </p>
          <ol class="list-unstyled mb-0 px-4">
            <p class="my-3 fw-bold text-muted text-center"></p>
            <li class="mb-3">
              <i class="fa-solid fa-angles-right me-3"></i
              ><small>Lorem Ipsum</small>
            </li>
            <li class="mb-3">
              <i class="fa-solid fa-angles-right me-3"></i
              ><small>Lorem Ipsum</small>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-1">
      <div class="card">
        <div class="mx-2 card-body">
          <h5 class="card-title my-2">Mogućnost 2</h5>
          <p class="text-muted mb-2">Ova mogućnost je to to i to</p>
        </div>
        <div class="card-footer">
          <p class="text-uppercase fw-bold" style="font-size: 12px">
            Što to znači
          </p>
          <ol class="list-unstyled mb-0 px-4">
            <p class="my-3 fw-bold text-muted text-center"></p>
            <li class="mb-3">
              <i class="fa-solid fa-angles-right me-3"></i
              ><small>Lorem Ipsum</small>
            </li>
            <li class="mb-3">
              <i class="fa-solid fa-angles-right me-3"></i
              ><small>Lorem Ipsum</small>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-1">
      <div class="card">
        <div class="mx-2 card-body">
          <h5 class="card-title my-2">Mogućnost 3</h5>
          <p class="text-muted mb-2">Ova mogućnost je to to i to</p>
        </div>
        <div class="card-footer">
          <p class="text-uppercase fw-bold" style="font-size: 12px">
            Što to znači
          </p>
          <ol class="list-unstyled mb-0 px-4">
            <p class="my-3 fw-bold text-muted text-center"></p>
            <li class="mb-3">
              <i class="fa-solid fa-angles-right me-3"></i
              ><small>Lorem Ipsum</small>
            </li>
            <li class="mb-3">
              <i class="fa-solid fa-angles-right me-3"></i
              ><small>Lorem Ipsum</small>
            </li>
          </ol>
        </div>
      </div>
    </div>

   
  </div>
</div>

{% endblock content %}
