{% extends 'main.html' %} {% block content %}
{% load static %}

<div class="events-table container">
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="search" name="eventName" class="form-control rounded-3 p-2 m-1" placeholder="Pretraži događaje po nazivu" aria-label="Search" aria-describedby="search-addon" />
          <button id="search-button" type="submit" class="btn btn-lg btn-primary rounded-3 m-1">
            <i class="fas fa-search"></i>
          </button>
       </div>
      </form>      
     
        <div class="input-group mb-3">
          <a href="newEvent" id="search-button" type="submit" class="btn btn-lg btn-primary rounded-3 m-1">
            <i class="fas fa-add"></i> Dodaj novi 
          </a>
       </div>

    <table class="events-table table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Naziv</th>
            <th>Grad</th>
            <th>Datum</th>
            <th>Kotizacija</th>
            <th>Stranica</th>
            <th></th>    
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for event in events %}
          <tr>
            <td>            
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{ event.name }}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ event.city }}</p>              
            </td>

            <td>
                <p class="fw-normal mb-1">{{ event.date }}</p>
                <p class="text-muted mb-0">{{ event.date|date:'h:m' }}</p>
            </td>

            <td>
                <p class="fw-normal mb-1">{{ event.entry_fee }}</p>
            </td>

            <td>
                <p class="fw-normal mb-1">{{ event.url }}</p>
            </td>
           
            <td>
              <a href="updateEvent?id={{ event.id }}" type="button" class="btn btn-link btn-sm btn-rounded">
                Uredi
              </a>
            </td>

            <td>
              <a href="deleteEvent?id={{ event.id }}" type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target="#s{{ event.id }}">
                Izbriši
              </a>
            </td>
          </tr>
          <div class="modal fade" id="s{{ event.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Brisanje događaja</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Jeste li sigurni da želite izbrisati događaj: {{ event.name }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
                  <a href="deleteEvent?id={{ event.id }}" type="button" class="btn btn-primary">Izbriši</a>
                </div>
              </div>
            </div>
          </div>
         {% endfor %}
        </tbody>
    </table>

      
    
    <nav class="my-4">
        {% if events.has_other_pages %}
          <ul class="pagination  pagination-lg pagination-circle justify-content-center">
            {% if events.has_previous %}
              <li class="page-item">
                  <a class="page-link"  href="?page={{ events.previous_page_number }}" tabindex="-1" aria-disabled="true">&laquo;</a>
              </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" disabled><span>&laquo;</span></a>
            </li>
            {% endif %}
            {% for i in events.paginator.page_range %}
              {% if events.number == i %}
          
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }} </span></li>
              {% else %}
                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if events.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="page-item">
              <a class="page-link" disabled><span>&raquo;</span></a>
            </li>
            {% endif %}
          </ul>
        {% endif %}
        </nav>
</div>

{% endblock content %}